BASE_URL="https://demoqa.com"
DEFAULT_COMMAND_TIMEOUT=15000
PAGE_LOAD_TIMEOUT=60000
RETRIES=0
VIDEO=false
VIEWPORT_WIDTH=1280
VIEWPORT_HEIGHT=720
SCREENSHOT_ON_RUN_FAILURE=true
MANAGE_BROWSER_MEMORY=true
